* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

form {
    margin: auto;
    margin-top: 20px;
    width: 250px;
    padding: 20px;
    display: block;
    border-radius: 15px;
    background: #ffffff;
    background-position: center;
    box-shadow: 3px 2px 4px 6px #E3E3E3;
}

#name,
#email {
    width: 100%;
    padding: 6px;
}

form div {
    display: inline;
}

.caja {
    position: relative;
    left: 25px;
}

#save {
    margin: 5px;
    background-color: #3BD16F;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: black;
}

#remove {
    width: 32%;
    margin: 5px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: #ffffff;
}