* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

form {
    margin: auto;
    margin-top: 20px;
    width: 250px;
    padding: 20px;
    display: block;
    border-radius: 15px;
    background: #ffffff;
    background-position: center;
    box-shadow: 6px 6px 8px 8px #c5e1f7;
}

#name,
#email {
    width: 100%;
    padding: 6px;
}

form div {
    display: inline;
}

.caja {
    position: relative;
    left: 45px;
}