head,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

div {
    padding: 5px 1px 5px 1px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #75b7f5;
    box-shadow: 2px 2px 3px 3px #75b7f5ce;
    border-radius: 8PX;
}

ul {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.root-menu-item {
    border: 3px solid #ffffff;
}

li {
    position: relative;
    left: 25px;
    padding: 5px;
    background: #75b7f5d1;
    display: inline-block;
    border-radius: 5px;
    text-align: center
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

ul ul {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    display: none;
}

ul li:hover {
    background-color: #1c8df7d1;
}

ul ul li:hover {
    background-color: #1c8df7d1;
}

ul ul ul {
    left: 0;
    bottom: 10%;
    width: 100%;
}

ul ul li {
    display: inline-block;
    width: 120%;
}

ul li:hover>ul {
    display: block;
}